.footer {
    height: 100%;
    //background: linear-gradient(to bottom, $color-primary 60%, $color-secondary);
    border-bottom: 0.2rem solid $color-primary;
    grid-column: center-start / center-end;
    display: flex;

    &__section {
        flex: 1 0 auto;
        padding: 2rem 3rem;
    }

    &__heading {
        font-size: 2rem;
        font-family: $font-header;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 1.2rem;
        color: $color-white;
    }
}