@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600px:      Phone
601 - 900px:    Tablet portrait
901 - 1200px:   Tablet landscape
1201 - 1800px:  Normal Styles
1800px +:       Big Desktop

$breakpoint args
- phone
- tab-port
- tab-land
- big-desktop

Changelist Priority: Base & Typography > General Layout > Grid > Page Layout > Components

*/

@mixin respond($breakpoint) {

  @if $breakpoint == phone-sm {
    @media only screen and (max-width: 20em) {
      @content;
    }
  } // 320px

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 80em) {
      @content;
    } // 1280px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
  @if $breakpoint == hi-res {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
      @content;
    }
  }
}