$color-primary: #6f4a8e;
$color-primary: #6223B0;
$color-primary: #6E27C5;
$color-secondary: #221f3b;
$color-black: rgb(5, 5, 5);
$color-white: #ebebeb;
$color-grey-light: #bbb;

$color-background--dark: #1a1a1a;
$color-background--light:#1f1f1f;
$color-background: #1C1C1E;

$shadow-default: 0 0 0.5rem rgba(0, 0, 0, 0.5);
$shadow-large: 0 0 2rem rgba(0, 0, 0, 0.5);

$font-header: 'Lato', sans-serif;
$font-main: 'Open Sans', sans-serif;